bao-baremetal-guest/build/
bao-hypervisor/build/
bao-hypervisor/bin/
bao-hypervisor/.git/
bao-hypervisor/.vscode/
opensbi/build/
opensbi/.git/
bitstream/

linux_image/
.vscode/
*.bin
*.elf
*.d
*.o
*.asm
*.debug
*.elf
*.dump
bao-hypervisor/configs/alsaqr-baremetal/config.S
bao-hypervisor/configs/alsaqr-linux/config.S
/fw_payload.elf
bao_vcu118_v2.code-workspace
alsaqr_xilinx.bit
